h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.header_image {
  width: 60%;
  margin: 2px; }

h1 {
  background-image: url(multimedia/humo_rojo_fondo_negro.jpg);
  align-items: center; }

#h1_logo {
  width: 20%; }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

nav {
  position: sticky;
  top: 0px;
  z-index: 4; }

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px;
  border-color: firebrick;
  border-radius: 2px;
  color: aliceblue;
  list-style: none; }

#animacion_navbar:hover {
  transform: scale(1.2);
  color: aliceblue;
  background-color: firebrick; }

#animacion_navbar {
  padding: 3px; }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

#accordion_button_desplegado {
  background-color: black; }

#novedades, #fotos, #videos, #fechas, #little_magic {
  margin-top: 15px;
  background-color: black;
  padding-top: 60px; }

.accordion-button {
  background-color: black;
  color: firebrick;
  font-weight: bold;
  font-size: 50%; }

.accordion-body {
  font-size: 85%;
  line-height: 170%; }

.p_propio {
  margin-left: 10px;
  font-size: 150%;
  color: firebrick; }

img {
  width: 100%; }

.image-novedades {
  width: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: middle; }

strong {
  text-decoration: underline; }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.fechas {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

footer {
  background-color: white; }

#social_media {
  list-style: none;
  background-color: white;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#social-media-item {
  background-color: white; }

#social-media-parrafo {
  background-color: white;
  color: black;
  font-weight: bold; }

.image_social_media {
  width: 20%;
  background-color: white; }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.item_fotos {
  width: 100%; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.item_fotos:hover {
  transform: scale(130%, 130%); }

h1, #navbar, #novedades, #fotos, #videos, #fechas, #little_magic, .grid_container, .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

iframe {
  margin: 10px 10px 10px 10px; }

* {
  background-color: black;
  color: aliceblue;
  font-family: 'Comfortaa', cursive;
  line-height: 150%; }

/* PSEUDO CLASES */
.videos-item:hover, .fechas-item:hover, .little-magic:hover, .image_social_media:hover {
  transform: scale(120%);
  z-index: 4; }

/* PSEUDO CLASES */
