@import "scss/componentes/header";
@import "scss/componentes/navbar";
@import "scss/componentes/novedades";
@import "scss/componentes/fechas";
@import "scss/componentes/footer";
@import "scss/componentes/fotos";
@import "scss/componentes/inframes";

* {
    background-color: black;
    color: nth($colores, 2);
    font-family: 'Comfortaa', cursive;
    line-height: 150%;
}

/* PSEUDO CLASES */
.videos-item:hover, .fechas-item:hover, .little-magic:hover, .image_social_media:hover {
    transform: scale(120%);
    z-index: 4;
}
/* PSEUDO CLASES */