@import "scss/base/extends";
@import "scss/base/listas";
@import "scss/base/mixins";
@import "scss/base/variables";

footer {
    background-color: nth($colores, 4);
}

#social_media {
    list-style: none;
    background-color: nth($colores, 4);
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#social-media-item {
    background-color: nth($colores, 4);
}

#social-media-parrafo {
    background-color: nth($colores, 4);
    color: nth($colores, 1);
    font-weight: bold;
}

.image_social_media {
    width: 20%;
    background-color: nth($colores, 4);
}