@import "scss/base/extends";
@import "scss/base/listas";
@import "scss/base/mixins";
@import "scss/base/variables";

footer {
    background-color: nth($colores, 4);
}

#social_media {
    list-style: none;
    background-color: nth($colores, 4);
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#social-media-item {
    background-color: nth($colores, 4);
    @extend %flex-row-center-center;
}

#social-media-parrafo {
    background-color: nth($colores, 4);
    color: nth($colores, 1);
    font-weight: bold;
    @extend %flex-row-center-center;
    margin-top: 25px;
    font-size: 150%;
    padding: 10px 10px 10px 10px;
}

.image_social_media {
    width: 3em;
    background-color: nth($colores, 4);
}

a {
    background-color: nth($colores, 4);
}

.container {
    @extend %flex-row-spacearround;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}