@import "scss/base/extends";
@import "scss/base/listas";
@import "scss/base/mixins";
@import "scss/base/variables";

.header_image {
    width: 40%;
    margin: 2px;
}

h1 {
    background-color: nth($colores, 4);
    @extend %flex-row-spacearround;
    align-items: center;
}

#h1_logo {
    width: 25%;
}